<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "whereAt.js" %>
<div class="container clearfix">
  <!-- This is the header information. You can add things like logos and navigation here. -->
    <header role="banner" class="clearfix">
	  <div class="logo">
	    <h1>hopsnob</h1>
	   <!-- CALLING AN IMAGE
	   	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	   -->
	  </div>
	  <div class='menu-button'></div>
	  <a href="#main" class="skip">Skip navigation</a>
	  <nav role="navigation" id="nav">
	    <ul>
		  <li class="top-level"><a href="who-are-we">Who are we?</a></li>
		  <li class="top-level"><a href="contact-us">Contact us</a></li>

	    </ul>	
      </nav>
    </header>
    
   <form action="/beers" method="get">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <label for="id">Search for:</label>
        <input id="id" name="id" type="text">
        <input id="search_button" name="commit" type="submit" value="Search">
    </form>
			
	<!-- The Main content area can be used to create lots of different block areas.
	As Jeffery Zeldman once said, "Content precedes design. Design in the absence of
	content is not design, it's decoration." -->
			
    <div role="main" class="content clearfix">
 	  <hr class="large">
 	  <section class="doc-section row clearfix">
	
 	  <!-- Slider
	  For use of the slider, please review responsive_slideshow.js and select the id for 
      which slide show you would like. You may need to modify this if you do not want it to fill 
      the 960 grid. 
 	  For Example:-->
 	  <center><h1>You are here:</h1></center>
 	  <section class="row">
 	  	<div class="sixteen columns">
 	  		<form id="mapForm">
			<input type="button" id="watch" value="Watch me">
			<input type="button" id="clearWatch" value="Clear watch">
			</form>
			
			<div id="location">
			Your location will go here.
			</div>
			
			<div id="distance">
			Distance from WickedlySmart HQ will go here.
			</div>
			
			<div id="map"></div>
 	  	</div>
 	  </section>
 		
 		
 		<div class="rslides_container">
 	      <ul class="rslides" id="slider1">
 	        <li><img src="http://placehold.it/1200x300" alt="" /></li>
 	        <li><img src="http://placehold.it/1200x300" alt="" /></li>
 	        <li><img src="http://placehold.it/1200x300" alt="" /></li>
 	      </ul> 
		</div>

		<!-- Columns 
		The columns have changed. You can now use them in a much more fluid way. In case you need 
		a bit of extra spacing we've included a class called alt-spacing. 
		-->
		Example 1:
		<section class="row">
		<div class="ten columns">10</div>
		<div class="six columns">6</div>
		</section> 
		
		Example 2:
		<section class="row">
		<div class="five columns"></div>
		<div class="five columns alt-spacing"></div>
		<div class="five columns alt-spacing"></div>
		</section>
		
		Example 3:
		<section class="gallery row">
		<div class="four columns"></div>
		<div class="four columns"></div>
		<div class="four columns"></div>
		</section>
		
		

 	  </section>
				
      <footer role="contentinfo" class="clearfix">
      </footer>
    </div><!-- content -->
  </div><!-- container -->
  <script type="text/javascript">
    $.ajax({
        type: "GET",
        url: '/beers/',
        success: function(data) {
            console.log(data);
        },
        error: function(data) {
            console.log(data.message);
        }
    });

    $('#search_button').click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "GET",
            url: '/beers/' + $('#id').val(),
            success: function(data) {
                console.log(data);
            },
            error: function(data) {
                console.log(data.message);
            }
        });
    });
  </script>

