<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "whereAt.js" %>
<div class="container clearfix">
  <!-- This is the header information. You can add things like logos and navigation here. -->
    <header role="banner" class="clearfix row">
    <div class="sixteen columns">
    
    	<a class="hide-on-phones left" href="who-are-we">Who We Are</a>
    	<a class="hide-on-phones right"href="contact-us">What We Do</a>
	
		<div style="position: relative;top: 15px;">
		<center>
	    <h1><a href="#"><img src="<%=image_path("logo.png")%>"></img></a></h1>
	   <!-- CALLING AN IMAGE
	   	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	   -->
	   </center>
		</div>
		
	  <div class='menu-button'></div>
	  <a href="#main" class="skip">Skip navigation</a>
   		
  
   </div>
    </header>
    	<div id="bodyHeadline" class="sixteen columns">
    		
    		<h1>Where My Beer At?</h1>
    		<p>Hopsnob helps you find the craft you've been craving.</p>
    		
    	</div>
   <div id="containSearch" class="row">
   	<div id="whiteBack" class="sixteen columns">
	   <h3>Search liquor stores near:</h3>
	   <h4 id="addHolder">
	   		<div id="location">
				Your location will go here.
			</div>
		</h4>
	   <hr />
	   <form action="/beers" method="get">
	    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
	        <label for="id">I am looking for:</label>
	        <input id="id" name="id" type="text">
	        <input id="search_button" name="commit" type="submit" value="BEER ME">
	    </form>
	   
	   </div>
	</div>		
	<!-- The Main content area can be used to create lots of different block areas.
	As Jeffery Zeldman once said, "Content precedes design. Design in the absence of
	content is not design, it's decoration." -->
			
    <div id="main" role="main" class="content clearfix">
 	  <section class="doc-section row clearfix">
	
 	  <!-- Slider
	  For use of the slider, please review responsive_slideshow.js and select the id for 
      which slide show you would like. You may need to modify this if you do not want it to fill 
      the 960 grid. 
 	  For Example:-->
 	  <section id="no-pad" class="row">
 	  	<div id="no-pad" class="sixteen columns">
			<div id="map_canvas"></div>
 	  	</div>
 	  </section>
		<section id="no-pad" class="row">
			<div id="no-pad" class="sixteen columns">
				<table class="table-striped">
           		<div id="stores">
		        <thead>
		           <tr>
		               <th scope="col">Store Name</th>
		               <th>Address</th>
		               <th>Stock</th>
		           </tr>
		        </thead>
		        <tbody id="row_stores">
		
		        </tbody>
		        </div>
				</div>
			</div>
	</section>
				
       <footer role="contentinfo" class="clearfix">
      	<center><a href="#"><img src="<%=image_path("footer-logo.png")%>"></a></center>
      </footer>
    </div><!-- content -->
  </div><!-- container -->

  <script type="text/javascript">
    ids = {};
    
    $.ajax({
        type: "GET",
        url: '/beers/',
        success: function(data) {
        	if ($.isEmptyObject(data)) {
                alert("No beers in the database!");
                return 0;
            }
            
            var beers = [];
            var beer_name = '';
            for (var i = 0; i < data.length; ++i) {
                beer_name = data[i]['brand'] + ' ' + data[i]['name'];
                beers.push(beer_name);
                ids[beer_name] = data[i]['id'];
            }

            // console.log(beers);
            // console.log(ids);

            $("#id").autocomplete({
                source: beers
            });

        },
        error: function(data) {
            console.log(data.message);
        }
    });

    $('#search_button').click(function(e) {
        e.preventDefault();
        $("#stores").hide();
        clearMarkers();
        //console.log(ids[$('#id').val()]);
        $.ajax({
            type: "GET",
            url: '/beers/' + ids[$('#id').val()],
            success: function(data) {
                if ($.isEmptyObject(data)) {
                    alert("No stores found!");
                    return 0;
                }
                for (var i = 0; i < data.length; ++i) {
                    var a = document.createElement("a");
                    var tr = document.createElement("tr");
                    var th = document.createElement("th");
                    th.setAttribute('scope', 'row');
                    a.title = data[i]['name'];
                    a.innerHTML = a.title;
                    a.href = 'https://www.dropbox.com/s/gdzk8nvcw2ehrko/liqprofile.png';
                    console.log(a);
                    th.appendChild(a);
                    var storeAddressContent = data[i]['address'] + ', ' + data[i]['city'] + ', ' + data[i]['state'] + ' ' + data[i]['zip_code'];
                    var td_address = document.createElement("td");
                    td_address.innerHTML = storeAddressContent;
                    var td_stock = document.createElement("td");
                    td_stock.innerHTML = "yes";
                        
                    tr.appendChild(th);
                    tr.appendChild(td_address);
                    tr.appendChild(td_stock);
                    $('#row_stores').append(tr);
                    $("#stores").show();
                    
                    getCoordinates(storeAddressContent, function(storeCoords) {
                        //var distance = computeDistance($('#location').text(), storeCoords);
                        //console.log(storeCoords);
                        //console.log($('#location').text());
                    });
                }
            },
            error: function(data) {
                console.log(data.message);
            }
        });
     });
  </script>
  
 