<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<%= javascript_include_tag "whereAt.js" %>
<div class="container clearfix">
  <!-- This is the header information. You can add things like logos and navigation here. -->
    <header role="banner" class="clearfix row">
    <div class="sixteen columns">
    <div class="five columns">
    	<a href="#">Who We Are</a>
    </div>
	<div class="logo six columns">
		<center>
	    <h1><a href="#"><img src="<%=image_path("logo.png")%>"></img></a></h1>
	   <!-- CALLING AN IMAGE
	   	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
	   -->
	   </center>
	</div>
	  <div class='menu-button'></div>
	  <a href="#main" class="skip">Skip navigation</a>
	  <!--<nav role="navigation" id="nav">
	    <ul>
		  <li class="top-level"><a href="who-are-we">Who are we?</a></li>
		  <li class="top-level"><a href="contact-us">Contact us</a></li>

	    </ul>	
   </nav>-->
   <div class="five columns">
   		<a href="#">What We Do</a>
   </div>
   </div>
    </header>
    <div class="row">
    	<div id="bodyHeadline" class="sixteen columns">
    		<center>
    			<h1>Where My Beer At?</h1>
    		<p>Hopsnob helps you find the craft you've been craving.</p>
    		</center>
    	</div>
    </div>
   <form action="/beers" method="get">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <label for="id">Search for:</label>
        <input id="id" name="id" type="text">
        <input id="search_button" name="commit" type="submit" value="Search">
    </form>
			
	<!-- The Main content area can be used to create lots of different block areas.
	As Jeffery Zeldman once said, "Content precedes design. Design in the absence of
	content is not design, it's decoration." -->
			
    <div id="main" role="main" class="content clearfix">
 	  <section class="doc-section row clearfix">
	
 	  <!-- Slider
	  For use of the slider, please review responsive_slideshow.js and select the id for 
      which slide show you would like. You may need to modify this if you do not want it to fill 
      the 960 grid. 
 	  For Example:-->
 	  <center><h1>You are here:</h1></center>
 	  <section class="row">
 	  	<div class="sixteen columns">
 	  		<form id="mapForm">
			<input type="button" id="watch" value="Watch me">
			<input type="button" id="clearWatch" value="Clear watch">
			</form>
			
			<div id="location">
			Your location will go here.
			</div>
			
			<div id="distance">
			Distance from Liquor Store will go here.
			</div>
			
			<div id="map_canvas"></div>
 	  	</div>
 	  </section>
		
		<div id="stores">
			
		</div>

 	  </section>
				
      <footer role="contentinfo" class="clearfix">
      </footer>
    </div><!-- content -->
  </div><!-- container -->
  <script type="text/javascript">
    $.ajax({
        type: "GET",
        url: '/beers/',
        success: function(data) {
        	if(data.length === 0)
        	{
        		
        	}
        },
        error: function(data) {
            console.log(data.message);
        }
    });

    $('#search_button').click(function(e) {
        e.preventDefault();
        $("#stores").remove();
        var stores = document.createElement("div");
        stores.setAttribute('id', 'stores');
        clearMarkers();
        $.ajax({
            type: "GET",
            url: '/beers/' + $('#id').val(),
            success: function(data) {
                if ($.isEmptyObject(data)) {
                    alert("No stores found!");
                    return 0;
                }
                for (var i = 0; i < data.length; ++i) {
                    var storeName = document.createElement("h4");
                    storeName.setAttribute('class', 'store_name');
                    storeName.innerHTML = data[i]['name'];
                    var storeAddress = document.createElement("p");
                    storeAddress.setAttribute('class', 'store_address');
                    var storeAddressContent = data[i]['address'] + ', ' + data[i]['city'] + ', ' + data[i]['state'] + ' ' + data[i]['zip_code'];
                    storeAddress.innerHTML = storeAddressContent;
                    stores.appendChild(storeName);
                    stores.appendChild(storeAddress);
                    getCoordinates(storeAddressContent, function(storeCoords) {
                        var distance = computeDistance($('#location').text(), storeCoords);
                        //console.log(distance);
                    });
                }
                $("#main").append(stores);
            },
            error: function(data) {
                console.log(data.message);
            }
        });
     });
  </script>

